html {
    font: 13px Roboto, Arial, SansSerif;
}

body {
    margin: 0;
}

/* COLUMN */
.column {
    display: flex;
    flex-direction: column;
}

/* NAV */
.nav {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}

.spacer {
    width: 75%;
}

.nav ul {
    display: inline;
}

.nav ul li {
    display: inline;
    margin-right: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
}

.nav ul li a:hover {
    text-decoration: underline;
    text-underline: black;
}

.icon-container {
    display: inline;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-top: 4px;
    cursor: pointer;
}

.grid-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    padding: 4px 4px 4px 4px;
}

.grid-icon:hover {
    background-color: rgba(200, 200, 200, 0.6);
}

img {
    width: 74px;
    height: 24px;
    align-self: center;
    margin-left: 1%;
}

#advanced-search {
    color: #d93025;
    font-size: 20px;
    margin-left: 3%;
}

h5 {
    font-family: Arial, sans-serif;
    font-size: 120%;
}

#title {
    color: #333;
    font-size: 16px;
}

#hint-title {
    color: #777;
    font-size: 13px;
}

/* MAIN */
table {
    margin-left: 3%;
}
td {
    padding-right: 15px;
}

p {
    color: #666;
}

.advanced-form {
    display: block;
}

.advanced-input-text {
    border: 1px solid #dfe1e5;
    border-radius: 4px;
    background: #fff;
    color: #3c4043;
    padding: 5px;
    width: 500px;
    max-width: 584px;
    text-align: start;
}

.advanced-input-text:focus {
    border: 1px solid #dfe1e5;
    outline-width: 0;
}

#advanced-input-button {
    border: 1px solid #3079ed;
    border-radius: 4px;
    cursor: pointer;
    background: #4d90fe;
    color: #fff;
    text-align: center;
    line-height: 27px;
    padding: 0 16px;
    margin-left: 73%;
}


#advanced-input-button:hover {
    background-color: #4787ed;
}