html {
    font: 13px Roboto, Arial, SansSerif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* COLUMN */
.column {
    display: flex;
    flex-direction: column;
}

/* NAV */
.nav {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}

.nav ul {
    display: inline;
}

.nav ul li {
    display: inline;
    margin-right: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: black;
}

.nav ul li a:hover {
    text-decoration: underline;
    text-underline: black;
}

.icon-container {
    display: inline;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-top: 4px;
    cursor: pointer;
}

.grid-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    padding: 4px 4px 4px 4px;
}

.grid-icon:hover {
    background-color: rgba(200, 200, 200, 0.6);
}

/* LOGO */

.logo {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.main-image {
    width: 272px;
}

/* MAIN */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 582px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    width: 582px;
}

form input {
    margin: 10px;
}

form input[type=text] {
    background: #fff;
    color: #3c4043;
    max-width: 584px;
    padding: 0 8px;
    text-align: start;
    border: none;
    font-size: 16px;
    width: 80%;
}

form input[type=text]:focus {
    border: none;
    outline-width: 0;
}

form input[type=submit] {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #f8f9fa;
    color: #3c4043;
    height: 36px;
    min-width: 54px;
    text-align: center;
    line-height: 27px;
    padding: 0 16px;
}

form input[type=submit]:hover {
    border: 1px solid #3c404350;
}

.shadow {
    transition: box-shadow 0.1s;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    max-width: 584px;
    height: 44px;
    padding: 0 5px;
}

.shadow:hover {
    box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
}


.main div[style=column] {
    width: 582px;
}

.language {
    font-family: Arial, sans-serif;
    line-height: 28px;
    color: #4d5156;
}

.language-option {
    padding: 0 5px;
    color: #1a0dab;
    text-decoration: none
}

.language-option:hover {
    text-decoration: underline;
}

.footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0
}

.footer-location {
    margin: 0;
    padding: 15px 30px;
    font-style: normal;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #70757a;
}

.footer-link {
    padding: 15px;
    color: #70757a;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.footer-list {
    align-items: center;
    padding: 15px 20px
}